doctype
html(lang="es")
head
	meta(charset="UTF-8")
	title Condicionales
body
	h1 Condicionales
	- var autorizacion = true
	article
		if autorizacion
			h3 autorizado
			img(src="imgs/success.jpg")
		else
			h3 No autorizado
			img(src="imgs/fail.jpg")